body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

#constructor {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

#tree, #constructor > .editor, #code {
    width: 33.33%;
    overflow-y: scroll;
}

#tree {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

#tree ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.4rem;
}

#constructor > .editor {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#code {
    padding: 0 10px;
    box-sizing: border-box;
}

.editor--empty {
    font-size: 16px;
    color: gray;
}

#builder-code {
    border: none;
    background-color: lightgray;
}

#tree ul li {
    list-style-type: none;
}

.cell-editor {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.edit-cell {
    display: inline-block;
    background-color: #efefef;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

.edit-cell.edit-cell--preview {
    cursor: auto;
}

.edit-cell-line {
    border: none;
    background-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.edit-cell-line > span {
    display: inline;
}

.edit-cell-line .cell-type {
    font-size: 9px;
    text-transform: uppercase;
    border-radius: 16px;
    letter-spacing: 0.5px;
    padding: 3px 6px;
    margin-left: 10px;
    border: 1px solid gray;
}

.edit-cell-line.edit-cell-line--current {
    background-color: #efefef;
    border-radius: 5px;
}

.edit-cell-line .expand-collapse {
    cursor: pointer;
    font-size: 12px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    line-height: 1;
}

.edit-cell > span {
    display: block;
    text-align: center;
}

.edit-cell .verb {
    font-size: 7px;
    color: darkgray;
    text-transform: lowercase;
}

.edit-cell.edit-cell--current {
    border: 1px solid black;
}

.edit-cell .move-forward {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    cursor: e-resize;
    color: gray;
}

.edit-cell .move-backward {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 10px;
    cursor: w-resize;
    color: gray;
}

.path {
    display: block;
    margin-right: 10px;
    opacity: 0.5;
}

.path .sep {
    padding: 0 2px;
}

.label-path {
    display: block;
}

.label-path .sep {
    padding: 0 2px;
}

.label-path .item:last-child {
    font-weight: bold;
}

.edit-cell .cell-type {
    font-size: 8px;
    color: royalblue;
    text-transform: lowercase;
}

.edit-cell .verb.verb--danger {
    font-size: inherit;
    color: red;
    cursor: not-allowed;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 5px;
}

#builder-code {
    width: 400px;
    height: 750px;
}

.CodeMirror {
    height: auto;
    z-index: 0;
}

.gui {
    z-index: 100;
}

.icons {
    background-color: #6f6f6f;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.icons img {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.icons .current {
    background-color: #909090;
}

.shape {
    margin: 20px 0;
    display: flex;
    border-top: 1px solid lightgray;
    padding: 10px 0;}

.cell-shapes {
    width: 30%;
}

.cell-shapes:before {
    content: 'Cell shape';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.panel-shapes {
    width: 70%;
}

.panel-shapes:before {
    content: 'Panel shape';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.panel-shapes > div {
    width: 16%;
}

.cell-shapes > div {
    width: 50%;
}

.panel-shapes > div,
.cell-shapes > div {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    white-space: nowrap;
    text-align: center;
    color: gray;
    box-sizing: border-box;
}

.panel-shapes > div.current,
.cell-shapes > div.current {
    background-color: #efefef;
    color: black;
}

#outputs {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000;

}

#outputs button.current-output {
    /* background-color: charcoal; */
    font-weight: bold;
}

#graph {
    position: absolute;
    top: 10%;
    left: 10%;
    background: white;
}