body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#constructor {
    display: flex;
    flex-direction: row;
}

#tree, #constructor > .editor, #code {
    width : 32%;
}

#examples {
    width : 4%;
}

#tree {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

#constructor > .editor {
    border-style: dashed;
    border-width: 0px 1px;
    height: 100%;
    padding: 5px;
}

.editor--empty {
    font-size: 8px;
    color: gray;
}

#builder-code {
    border: none;
    background-color: lightgray;
}

.edit-cell {
    display: inline-block;
    width: 65px;
    height: 65px;
    border: dashed 1px;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
}

.edit-cell.edit-cell--preview {
    cursor: auto;
}

.edit-cell > span {
    display: block;
    text-align: center;
}

.edit-cell .verb {
    font-size: 7px;
    color: darkgray;
    text-transform: lowercase;
}

.edit-cell .verb:before {
    content: '(';
}

.edit-cell .verb:after {
    content: ')';
}

.path {
    font-size: 8px;
    display: block;
}

.path .sep {
    color: gray;
    padding: 0 2px;
}

.path .item:last-child {
    font-weight: bold;
}

.label-path {
    font-size: 8px;
    display: block;
}

.label-path .sep {
    color: gray;
    padding: 0 2px;
}

.label-path .item:last-child {
    font-weight: bold;
    font-size: 10px;
}

.edit-cell .cell-type {
    font-size: 8px;
    color: royalblue;
    text-transform: lowercase;
}

.edit-cell .verb.verb--danger {
    color: red;
    font-weight: bold;
    cursor: not-allowed;
}

#builder-code {
    width : 400px;
    height : 750px;
}